
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Caveat&family=Courgette&family=Indie+Flower&family=Quicksand:wght@300&family=Satisfy&family=Varela+Round&display=swap');

/* --------------------------------------------------------Home--------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: rgb(46, 46, 255);
    color: white;
    position: absolute;
    /* width: 25vw; */
    font-family: 'Varela Round', sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;
    
}

.sidebar nav {
    padding: 40px;
    height: 100%;

}

.sidebar nav li {
    list-style: none;
    font-size: 25px;
    padding: 10px 0;
    /* text-shadow: 2px 2px 2px whitesmoke; */
}
.sidebar nav li a {
    text-decoration: none;
    color: white;
}
.main {
    /* background-color:green; */
    width: 100vw;
    box-shadow: 2px  6px 4px  gray;
    margin: 0.9vw;
    border: 0.5vw white solid;
    border-radius: 1%;
    /* height: 80vh; */
}
.container {
    display: flex;
}
.infoContainer{
    /* background-color: yellow; */
    height: 60vh;
    /* width: 80vw; */
    margin: 70px auto;
    display: flex;
    justify-content: space-around;
}
.devinfo{
    display: flex; 
    justify-content: center;
    flex-direction: column;
    font-family: 'Caveat', cursive;
}
.devpic img{
    height: 60vh;
    width: auto;
    border-radius: 50%;

}
.hello{
    font-size: 2.5em;
}
.name{
    font-size: 3em;
    font-weight: bold;
    font-family: 'Antic Slab', serif;
}
.about{
    font-size: 2em;
    font-family: 'Varela Round', sans-serif;
}
.moreabout{
    margin-top: 20px;
    font-size: 1.8em;
    font-family: 'Varela Round', sans-serif;
}
.buttons{
    margin-top: 28px;
}
.buttons button{
    margin: 0 3px;
    padding: 8px;
    border-radius: 5px;
    background-color:rgb(46, 46, 255);
    color: white;
    border: none;
    box-shadow: 2px 2px 8px gray;
    font-size:13px;
    font-weight: bold;
    cursor: pointer;
}
.buttons button:hover{
    background-color: white;
    color: rgb(46, 46, 255);
}
.navBar{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}
.sidebargo{
    transform: translate(-443px, 0px);
    position: absolute;
}
.cross{
    margin-left: 170px;
}
@media (max-width: 1000px) {

/* .devpic{
    display: none;
} */
.devinfo{
    
}
.devinfo{
    font-size: 7px;
}
}



/* --------------------------------------------------Contact Me------------------------------------------------ */


#cmbg{
    background-image: url('https://source.unsplash.com/random/?hd/?nature');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.checkbox{
    flex-direction: row;
}  */
.contactForm{
    
    /* padding-left: 20vw; */
    /* font-family: 'Varela Round', sans-serif; */
    font-family: 'Antic Slab', serif;
    font-size: 15px;
    margin-left: 10vw;
    
}
.formLayout{
    /* background-color: blue; */
    padding-left: 6vw;
    padding-top: 0vw 9vh;
    
    font-size: 15px;
    /* margin-left: 10vw; */
}
.formLayout div{
    padding:1vh 0;
}
#emailNum{
    font-size: 13px;
    padding-right: 4vw;
}
#checkText{
    padding-right: 4vw;
    /* background-color: red; */
}
.formLayout h1{
    font-size: 22px;
    margin-top: 3vw;
    padding-left: 4vw;
    padding-right: 4vw;
    /* justify-content: space-around; */
    align-items: center;
    font-family: 'Caveat', cursive;
}
.formLayout form{
    margin-top: 4vh;
}
.mb-3{
    display: flex;
    flex-direction: column;
}
.formControl{
    width: 30vw;
    padding: 1vh 1vw;
    /* border: none; */
    border-radius: 4px;
    margin-top: 1vh;
    box-shadow: 2px 2px 2px 2px whitesmoke;
}
#mainContact{
    height: 90vh;
    width: 45vw;
    margin-left: 25vw;
    background-color: white;
    opacity: 0.8;
}
.formBtn{
    padding: 1.5vh 7vw;
    margin-left: 6vw;
    margin-top: 3vh;
    border-radius: 4px;
    background-color: rgb(46, 46, 255);
    color: white;
    border: none;
    box-shadow: 2px 2px 8px gray;
}
.formBtn:hover{
    color: rgb(46, 46, 255);
    background-color: white;
}
.lower{
    background-color: black;
    height: 8vh;
}

/*------------------------------------------------------------ Blog------------------------------------------------------------------ */


.blogItems{
    margin: 4vh 4vw;
    font-family: 'Varela Round', sans-serif;
}
.bh1{
    margin-left: 20vw;
    size: 24rem; 
    font-family: 'Caveat', cursive;
}
/* -------------------------------------------------------------------INTRO--------------------------------------------------------- */
.myIntro{
    font-family: 'Varela Round', sans-serif;
    margin: 4vh 0 0 4vw;
}
.bar{
    color: white;
    margin-top: 1vh;
    padding-left: 3vw;
    /* font-family: 'Antic Slab', serif; */
    font-family: 'Varela Round', sans-serif;
    width: 60vw;
    background-color: white;
    border-color: blue;
}
.mySkills{
    margin-top: 3vh;
}
.skillBar{
    border-radius: 3px;
    border: none;
    box-shadow: 2px 6px 6px 1px gray;
    margin-top: 2vh;
}
.b50{
    background-color: orangered;
    
    padding-left: 3vw;
    width: 50vw;
}
.b45{
    width: 45vw;
    background-color: rgb(196, 4, 110);
    padding-left: 3vw;
}
.b35{
    width: 35vw;
    background-color: green;
    padding-left: 3vw;
}
.b40{
    width: 40vw;
    background-color: brown;
    padding-left: 3vw;
}
.b32{
    width: 32vw;
    background-color: rgb(4, 7, 163);
    padding-left: 3vw;
}
.b30{
    width: 30vw;
    background-color: rgb(28, 141, 145);
    padding-left: 3vw;
    margin-bottom: 3vh;
}
